*,
html,
body{margin:0;padding:0;box-sizing:border-box;text-decoration:none;list-style-type:none;font-family:'Montserrat', sans-serif;}
nav{position:fixed;}
nav,
.nav-area{width:100%;height:58px;background:black;z-index:20;}
nav .logo{float:left;width:256px;height:58px;text-align:center;}
nav .logo a{width:100%;height:100%;color:white;float:left;}
nav .logo a .img-logo{width:63%;height:43px;text-align:center;background:url(../../images/resources/logo_bg.png)no-repeat;background-size:cover;margin:6px 0 0 12px;}
nav .items{width:auto;height:58px;float:right;}
nav .items ul{width:auto;display:inline-block;}
nav .items ul.main-menu li{width:auto;color:white;float:left;cursor:pointer;padding:10px 13px 6px 13px;display:inline-block;position:relative;}
nav > .items > ul.main-menu > li:first-child{padding:11px 13px 7px 13px;position:relative;}
nav > .items > ul.main-menu > li:hover:first-child{background:-webkit-linear-gradient(-45deg, #e42693 , #6e39a6);background:-ms-linear-gradient(-45deg, #e42693 , #6e39a6);padding:11px 13px 8px 13px !important;}
nav > .items > ul.main-menu > li:not(:last-child){}
nav .items ul li input{width:21em;height:3.25em;border:none;outline:none;text-indent:5px;font-size:12px;}
nav .items ul li .avatar{width:40px;height:40px;float:left;margin-right:0.5em;border-radius:5px;background:url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSuk1JbBNPmBD5apjw5Ktf63aJBXe8a4FJw8O7nHMoDaUHiWU3Q)no-repeat;background-size:cover;overflow:hidden;}
nav .items ul li p{text-align:left;font-size:15px;letter-spacing:1px;min-width:8em;}
nav .items ul li .notification{width:40px;height:40px;float:left;margin-right:1em;border-radius:50%;border:1px solid white;background:white;}
nav .items ul li:hover:not(:first-child),
nav .items ul li:hover ul.user-sub-menu,
nav .items ul li:hover ul.user-sub-menu li{display:block;opacity:1;visibility:visible;background:-webkit-linear-gradient(-45deg, #e42693 , #6e39a6);background:-ms-linear-gradient(-45deg, #e42693 , #6e39a6);background:white;}
nav .items ul li:hover ul.user-sub-menu{padding-bottom:0;}
nav .items ul li ul.user-sub-menu{right:0;width:100%;height:auto;opacity:0;position:absolute;background:black;visibility:hidden;padding-bottom:1em;margin-top:6.5px;}
nav .items ul.main-menu li:nth-child(3) ul.user-sub-menu{margin-top:46.5px;width:150px;}
nav .items ul.main-menu li:nth-child(1) ul.user-sub-menu{width:100%;margin-top:7.5px;font-size:10px;}
nav .items ul.main-menu li:nth-child(1) ul.user-sub-menu li{width:100%;}
nav .items ul li ul.user-sub-menu li{width:100%;text-align:center;position:relative;}
nav .items ul li ul.user-sub-menu li:before{content:'';width:100%;height:1px;left:0;bottom:0;opacity:1;background:#ebebe7;transition:0s;visibility:visible;position:absolute;}
nav .items ul li ul.user-sub-menu li:hover{background:-webkit-linear-gradient(-45deg, #e42693 , #6e39a6);background:-ms-linear-gradient(-45deg, #e42693 , #6e39a6);}
nav .items ul li ul.user-sub-menu li:hover a{transition:0s;color:white;}
.user-sub-menu.buscador li:hover .user-item .avatar{border:1px solid white;transition:0s;}
.user-sub-menu.buscador li:hover .user-item .user-info h1,
.user-sub-menu.buscador li:hover .user-item .user-info p{color:white;transition:0s;}
nav .items ul li ul.user-sub-menu li a{color:black;float:left;width:100%;font-size:10px;}
.user-sub-menu.buscador .user-item{width:100%;height:auto;float:left;display:inline-block;}
.user-sub-menu.buscador .user-item{width:100%;height:auto;}
.user-sub-menu.buscador .user-item .avatar{width:50px;height:50px;border-radius:50%;margin-right:10px;float:left;}
.user-sub-menu.buscador .user-info{width:auto;float:left;margin-top:6px;}
.user-sub-menu.buscador .user-info h1{color:black;text-align:left;font-size:12px;font-weight:100;}
.user-sub-menu.buscador .user-info p{color:black;float:left;font-size:10px;letter-spacing:1px;}
.top-banner{width:100%;height:247px;float:left;background:url(../../images/ranking.png)no-repeat;background-size:100%;}
.super-container{width:100%;float:left;margin:0em 0;min-height:50em;height:auto;min-height:100vh;}
.super-container .inner{position:relative;}
.super-container .inner .main-inner-container{left:50%;width:1120px;height:auto;min-height:20em;position:absolute;transform:translateX(-50%);}
footer{width:100%;height:25em;float:left;background:black;}
input.placeholder-color::-moz-placeholder{color:white!important;background-color:rgba(0,0,0,0.5);opacity:1;}
nav .items ul li:nth-child(2):hover,
nav .items ul li:nth-child(3):hover{background:-webkit-linear-gradient(-45deg, #e42693 , #6e39a6);background:-ms-linear-gradient(-45deg, #e42693 , #6e39a6);max-height:67px;}
.container-chart{margin-bottom:2em;}
@-moz-document url-prefix(){nav .items ul.main-menu li{padding:12px 13px 8px 13px!important;}
nav > .items > ul.main-menu > li:first-child{padding:12px 13px 8px 13px!important;}
nav .items ul li:nth-child(2) ul.user-sub-menu{margin-top:1.5px !important;}
nav .items ul.main-menu li:nth-child(1) ul.user-sub-menu{margin-top:6.5px!important;}
}
@media all and (-ms-high-contrast:none){}
@supports (overflow:-webkit-marquee) and (justify-content:inherit){.nav-register li:first-child a{font-weight:300;}
.nav-register li:second-child a{font-weight:400;}
nav .items ul li ul.user-sub-menu li:hover{transition:0s!important;}
.buscador .user-sub-menu.buscador li:hover{transition:0s!important;}
.login-tag{font-weight:300;}
.btn-green,
button.btn-white-2,
.b-tag-safari{font-weight:400;}
nav .items ul.main-menu li{padding:10px 13px 8px 13px!important;}
nav > .items > ul.main-menu > li:first-child{padding:10px 13px 8px 13px!important;}
nav .items ul li:nth-child(2) ul.user-sub-menu{margin-top:1.5px;}
nav .items ul.main-menu li:nth-child(1) ul.user-sub-menu{margin-top:6.5px!important;}
}